/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #BEB1B1;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #292525;
}

ul {
  list-style-type: none;
}

a {
  color: black;
}

a:hover {
  color: white;
}

.container {
  padding: 8px 32px;
}

.row {
  margin: 24px 0;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #BEB1B1;
  text-align: center;
  padding: 16px px;
  position: fixed;
  width: 100%;

  -webkit-box-shadow: 0px 3px 28px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 28px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 3px 28px 0px rgba(50, 50, 50, 0.75);
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none;
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: #ffffff;
}

#hero {
  background-color: #BEB1B1;
  padding: 24px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
}

main {
  padding-top: 160px;
}

#work {
  background-color: #A09090;
}
