/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/


/*default body settings*/

body {
  background-color: #BEB1B1;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #292525;
}
header {
  background-color: #ff44c4;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;

}


h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}


/*setting images to full-width*/

img {
  width: 100%;
}


/*change the default link color to your primary color (copied from your comments at the top of the document)*/

a {
  color: #ffffff;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #5D3B3B;
  text-decoration: none; /* Underlining when hovering over a link */
}

/*set the visited and active states of your links*/

a:visited { /* visited link */
  color: #5D3B3B;
}
a:active { /* selected link */
  color: #ffffff;
}

/*Pseudo classes for Accessibility for Across the Web*/
a:hover,
a:focus {
  color: #FFFFFF;
  text-decoration: underline;
}


/*CSS code for the button class*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #5D3B3B; /* width of the border, type, color */
  transition: 0.2s opacity;
}

/*button class hover and active state*/
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}


/*button rules for the mailto button*/
.button.contact {
  background-color: transparent;
  color: #5D3B3B;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
}

/*button class hover and active state*/

.button.contact:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.button.contact:active {
  background-color: #FFFFFF;
  color: #ffffff;
}
